* {
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray ;
    position: relative;
}
 
figure {
    border: 5px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    background: white;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.8rem;
}

figcaption span {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem 0.5rem;

}

img {
    width: 100%;
}

    .left, .right {
        position: fixed;
        top: 43vh;
        font-size: 5rem;
        color: red;
    }
    .left {
        left:0;
    }
    
    .right {
        right: 0;
    }

    .pont {      
        float: left;
        top: 0;
    }

    .pont a{
        top: 0;
        padding: 30px;
        text-decoration: none;
        color:black;
        
    }

  

